.playlist-header {
    font-size: 72px;
    line-height: 75px;
    text-align: center;
    padding-top: 92px;
    font-weight: bold;
    color: #fff;
    width: 60%;
    cursor: pointer;
}

.playlist-header:hover {
    color: rgb(231, 216, 231);
    cursor: pointer;
}

.p-sub {
    font-size: 24px;
    line-height: 34px;
    text-align: left;
    width: 80%;
    margin: auto;
    color: #fff;
}

#play-section {
    max-width: 100%;
    background-color: #121212;
    height: 466px;
}

.thumb-card {
    background-color: white;
    height: 700px;
}

.company-thumb {
    padding-top: 62px;
}

.moments-title {
    padding-top: 200px;
    color: #fff;
    font-size: 52px;
    line-height: 52px;
    
}

#different-section {
    max-width: 100%;
    background-color: #121212;
    margin-bottom: -1px;
    height: 765px;
}

.ds-inner {
    color: white;
    padding-top: 49px;

}

.ds-inner h1 {
    width: 82%;
    font-size: 52px;
}

.ds-title {
    font-size: 18px;
    font-weight: 700;
    color: rgb(27, 40, 223);

}

.ds-sub {
    width: 82%;
    font-size: 22px;
}

#vid {
    padding-top: 54px;
}

.big-biz {
    display: flex;
    width: 10%;
    justify-content: space-between;
    position: relative;
    left: 10%;
    cursor: pointer;
}

#middle-section {
    background-color: #121212;
    color: white;
    /* padding-bottom: 100px; */
}

#play-hack {
    width: 80%;
}

.mob-learn {
    position: relative;
  /* left: 29%; */
  text-align: center;
  color: white;
  font-size: 21px;
  border: 1px solid #fff;
  width: 40%;
  padding: 6px;
  border-radius: 30px;
  }

  .mob-learn:hover {
   background-color: white;
   color: black;
  }


.middle-title {
    text-align: center;
    font-weight: bold;
    padding-top: 35px;
    margin-bottom: 35px;
    font-size: 62px;
    width: 40%;
    margin: auto;
}


.mob-button-container {
    display: flex;
    justify-content: space-between;
    width: 27%;
    padding-top: 24px;
    margin: 0 auto;
}

.mob-filter-button {
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.mob-filter-button:hover {
    background-color: black;
    color: white;
}

.em-button {
    border: 1px solid #fff;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    cursor: pointer;
}

.em-button:hover {
    background-color: rgb(48, 160, 82);
    color: black;
}



@media screen and (max-width: 767px) {
    #play-section {
        height: 683px;
    }

    #vid {
        padding-top: 32px;
    }

    .playlist-header {
        padding-top: 29px;
        width: unset;
        
    }

    .p-sub {
        margin: auto;
    }

    .ds-inner h1 {
        font-size: 42px;
        width: unset;
    }

    .ds-sub {
        width: unset;
    }

    #different-section {
        height: 855px;
    }

    #play-hack {
        width: unset;
    }

    .p-sub {
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        width: unset;
        margin: auto;
        color: #fff;
    }

    .big-biz {
        left: 40%;
    }

    .mob-button-container {
    display: flex;
    justify-content: space-between;
    width: 66%;
    margin-left: 66px;
    }

    .mob-filter-button {
    /* border: 1px solid; */
    padding: 2px;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;

    }

    .middle-title {
        font-size: unset;
        width: unset;
        font-size: 10px;
        font-weight: bold;
        text-align: left;
    }

}