.pod-squad {
    font-size: 100px;
}

.subtitle {
    font-size: 18px;
    width: 96%;
    line-height: 32px;
}



.icon {
    /* border-radius: 300px; */
    display: grid;
    margin: 0 auto;
    padding-top: 35px;
}

.section-2-about {
    max-width: 100%;
    background-color: black;
    color: #fff;
    height: 486px;
}

.episode-btn-3 span {
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding-top: 10px;
}

.social-right {
    text-align: right;
    padding-top: 30px;
}

.social-right p {
    font-size: 24px;
}

.social-right a {
    color: red;
}

.about-sub {
    display: block;
}


.podder {
    font-size: 70px;
}

.podder-desc {
    line-height: 38px;
    font-size: 22px;
}

#podder-container {
    padding-top: 100px;
}

#spacing {
    padding-top: 234px;
}

#mb {
    margin-bottom: 200px;
}

#dt-only {
    display: block;
}

.youtube-btn span {
    border: 1px solid red;
    border-radius: 100px;
    padding: 7px;
    background-color: #fff;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding-top: 13px;
    padding-bottom: 13px;
}

.youtube-btn span:hover {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100px;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding-top: 13px;
    padding-bottom: 13px;
}




@media screen and (max-width: 767px) {
    #mb {
        margin-bottom: 100px;
    }

 
    .about-sub {
        display: none;
    }

    #spacing {
        padding-top: 80px;
    }
    
    
  
}