#episode-page {
    margin-bottom: 200px;
    /* display: none; */
}

#artist-caard {
  margin: 4px;
}

.ep-row {
  display: flex;
}


.show {
    display: block;
  }
  
  .hide {
    display: none;
  }

  .episodes-btn span {
    border: 1px solid cadetblue;
    border-radius: 30px;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
   
}


#episode-card {
  border: 1px solid darkslategray;
  padding: 19px;
  border-radius: 20px;
  margin-bottom: 11px;
  margin: 5px;
}



.episodes-btn span:hover {
  color: #000;
  background-color: white;

}


@media screen and (max-width: 767px) {
    #episode-page {
        margin-bottom: 100px;
    }

    .ep-row {
      flex-wrap: wrap;
    }
}