#contact-section {
    padding-top: 100px;
    margin-bottom: 200px;
}

.contact-title {
    font-size: 70px;
}

.contact-sub {
    font-size: 18px;
}


@media screen and (max-width: 767px) {
    #contact-section {
        margin-bottom: 100px;
        padding-top: 7px;
    }
}