.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
}
.bg {
    background-color: black!important;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: white;
}

.form-inline li {
    list-style: none;
}

.btn-outline-success {
    color: red !important;
    background-color: transparent;
    background-image: none;
    border-color: red !important;
}

.btn-outline-success:hover {
    background-color: red !important;
    color: white !important;
}

.mob-log {
    display: none;
}

.logo {
    position: relative;
    left: 39%;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .mob-logo {
        display: block;
    }
    .logo {
        left: 10%;
    }
}


@media  (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        position: relative;
        left: 3%;
    }

}

